# Dapat dari Google Cloud Console > APIs & Services > Credentials > OAuth Client ID
GOOGLE_CLIENT_ID=isi-client-id-google-di-sini.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=isi-client-secret-google-di-sini

# Isi dengan email Google anggota kelompok, dipisah koma
GROUP_MEMBER_EMAILS=nadinananda2006@gmail.com,ginanimaisya7@gmail.com,floracahayaputri@gmail.com
